* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0;
    width: 70%;
    margin: auto;
}

h1 {
    color: orange;
    margin-bottom: 20px;
}

h2 {
    color: #414141;
    margin-bottom: 20px;
}

.price {
    font-weight: bold;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 12px;
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 10px;
}

li {
    font-size: 20px;
    line-height: 25px;
}

.total {
    font-size: 25px;
    background-color: lightgreen;
    padding: 20px;
    border-radius: 10px;
}